body{
    background-color: var(--clr-bg2);
    font-family: var(--ff-sans);
}
h1{
    font-size: var(--fs-h1s);
    font-family: var(--ff-sans);
    text-transform: uppercase;
}

header{
    height: 300px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    color: var(--clr-black);
    background-size: cover;
}
footer{
    padding: 2rem;
}
.loupe{
    max-width: 45px;
    max-height: 45px;
    margin-left: 2rem;
}

.marker{
    max-width: 45px;
    max-height: 45px;
    margin-right: 2rem;
    rotate: 20deg;
}
.graphique1{
    padding: 2rem;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-bg);
    flex-direction: column;
    gap: 2rem;
    

}
#myChart{
    width: 400px;
    height: 300px;
    border: 2px solid;
}
#map { 
    width: 300px;
    height: 300px;
    border: 2px solid;
}

.graphique2{
    padding: 2rem;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-bg);
    flex-direction: column;
    gap: 2rem;

}
.text{
    display: flex;
    text-align: center;
    justify-content: left;
    align-content:flex-start;
    padding: 2rem;
}
h2{
    font-size: var(--fs-h2l);
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--fs-h2s);
    font-family: var(--ff-sans);
    max-width:800px ;
    
    
}

@supports(  display: flex){
    @media screen and (min-width:1000px){
        h1{
            font-size: var(--fs-h1l);
        }
        #map { 
            min-width: 900px;
            min-height: 700px;
        }
        #myChart{
            min-width: 900px;
            min-height: 600px;
            border: 2px solid;
        }
        .graphique1{
            display: flex;
            justify-content: center;
            flex-direction: row;
        }
        .graphique2{
            display: flex;
            justify-content: center;
            flex-direction: row;
        }
        .text{
            display: flex;
            text-align: left;
        }
    }
}