@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto:wght@400;900&display=swap');

$colors: (
  neutral: #262525,
  bg:#fdfdfdcf,
  bg2:#dddddd9e,
  light: #FFFFFF
);

$font-sizes: (
  h1s: 4rem,
  h1l: 5rem,
  h2s: 1.5rem,
  h2l: 2rem
);

//Variables font families
$ff-sans: "'Roboto', sans-serif";

$fw: (
  400: 400,
  700: 700,
  900: 900,
)